{% extends "base.html" %}

{% block media %}
<style>
    #content .title {
        text-align: center;
        padding-top: 35px;
    }
    #page-container {
        background: var(--page-bg) !important;
    }
    footer {
        background: var(--page-bg) !important;
    }
    .message-container {
        height: 200px;
        background-color: var(--light-bg);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        margin: 20px;
    }
    .message-text {
        font-size: 18px;
        color: var(--font-basic-black);
        text-align: center;
    }
</style>

{% endblock %}

{% block body %}
    <div class="message-continer">
        <p class="message-text">{{ _('계정이 성공적으로 생성되었습니다.') }}</p>
    </div>
{% endblock %}