{% extends "base.html" %}

{% block media %}
<style>
    #page-container {
        background: #FFF !important;
    }
    footer {
        background: #FFF !important;
    }
    .title-div {
        visibility: hidden;
    }
    #page-container {
        display: flex;
        background: #fff !important;
    }
    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh !important;
        margin-top: 0px !important;
        margin: auto;
        width: 1040px;
    }
    .content-body-box {
        min-height: 100% !important;
        margin-bottom: 50px;
    }
    #content-body {
        width: 100% !important;
        padding-bottom: 0px;
    }
    .title-box {
        display: none;
    }
    .modifyPassword {
        max-width: 100%;
        margin: 50px auto;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 20px;
        text-align: center;
    }
    .modifyPassword h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .modify-area
    {
        box-sizing: border-box;
        position: absolute;
        width: 200%;
        top: 38.49%;
        bottom: 57.22%;
        margin:  20px auto;
        background: #FFFFFF;
        border: 1px solid var(--border-color);
        border-radius: 8px;
    }
    .username-input-group {
        width: 100%;
        max-width: 100%;
    }


    /* 이메일 입력 전체 영역 스타일 */
        .email-input-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
    }   
    .email-input-group {
        width: 100%;
        max-width: 100%;
    }
    .form-area input[type="email"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid var(--border-color);
        border-radius: 8px 0px 0px 8px;
        width: 100% !important;
        height: 46px;
        box-sizing: border-box;
    }

    .form-area input[type="text"] {
        padding: 10px 10px 10px 16px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100%;
        height: 46px;
        box-sizing: border-box;
        font-family: "Pretendard";
    }

    .form-area {
        width: 354px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border: none;
        gap: 10px;
        margin: 0 auto;
    }

    .form-area button[type="submit"],
    .form-area button,
    .form-area .button {
        background: none;
        background-color: #5C95D9;
        display: block;
        border-radius: 8px;
        border: 1px solid #5C95D9;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        line-height: 1.5;
        height: 40px;
        box-sizing: border-box; /* 패딩과 테두리가 총 크기에 포함되도록 설정 */
        font-family: "Pretendard";
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .form-area a.button {
        display: block; /* 인라인 요소를 블록 요소로 변경 */
        text-align: center;
        padding: 10px; /* 버튼과 동일한 패딩 적용 */
        font-size: 14px;
        color: #5C95D9 !important;
        background: none;
        background-color: white;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        height: 40px;
        box-sizing: border-box;
        line-height: 1.5; /* 텍스트가 버튼의 중앙에 위치하도록 설정 */
        cursor: pointer;
        text-decoration: none; /* 기본 링크 스타일 제거 */
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .form-area button:hover {
        background-color: #5288C8;
        color: #FAFAFA;
    }

    .form-area a.button:hover {
        background-color: #F7F7F7;
        color: #5487C5;
    }

    /* .form-area input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
    
    } */

        input[type=text], input[type=password], input[type=email], input[type=number] {
        padding: 4px 8px;
        color: #3b3b3b;
        background: #fff none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        box-sizing: border-box;
        font-size: 14px;
    }
    input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=number]:hover {
        box-shadow: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus {
        box-shadow: none;
        border-color: #9FCDF2;
        outline: 0;
    }
    input[type=number] {
        padding: 2px 0 2px 5px;
    }
    input[type=checkbox] {
        vertical-align: middle;
    }

    input[type=email] {
        color: #000;
        background: #fff;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 10px 10px 10px 16px;
        font-size: 14px;
        box-sizing: border-box;
        height: 46px;
        width: 100%;
        font-family: "Pretendard";
    }


    /* 일치하는 유저이름을 찾을 수 없다는 에러 메세지 css*/
    .error-message {
        display: none;
        background-color: #e0f7fa; /* 연한 파란색 배경 */
        border: 1px solid #00acc1; /* 진한 파란색 테두리 */
        color: #006064; /* 진한 파란색 텍스트 */
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        position: relative;
    }
    .error-message::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 10px;
        border-width: 10px;
        border-style: solid;
        border-color: #e0f7fa transparent transparent transparent;
    }

    .Copyright {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
        background-color: #FFFFFF;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: #8391A1;
  }
</style>
{% endblock %}


{% block body %}
    <div class="modifyPassword">
        <h2>비밀번호 초기화</h2>
        <form action="" method="post" class="form-area">
            {% csrf_token %}
            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div id="form-errors">
                            <p class="error">{{ error }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {# <!-- <table border="0">{{ form.email }}</table> --> #}
            {% if form.non_field_errors %}
             <div class="error-message">
                 <ul>
                     {% for error in form.non_field_errors() %}
                         <li>{{ error }}</li>
                     {% endfor %}
                 </ul>
             </div>
            {% endif %}
            <div class="username-input-group">
                {{ form.username }}
            </div>
            <!-- 이메일 -->
            <span class="email-input-wrapper{% if form.email_local.errors %}-error{% endif %}">
                {{ form.email_local }}
            </span>
            <button type="submit">{{ _('비밀번호 발송하기') }}</button>
            <a href="{{ url('auth_login') }}" class="button">{{ _('로그인 페이지로 돌아가기') }}</a>
        </form>
    </div>
{% endblock %}