{% extends "tabs-base.html" %}

{% block admin_tab %}
{% if perms.judge.view_all_problem or perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem %}
    <div class="admin-tab">
        {{ make_tab('admin', 'fa-edit', url('admin:judge_problem_changelist'), _('Admin')) }}
    </div>
{% endif %}  
{% endblock %}

{% block tabs %}
    {% if perms.judge.view_all_problem or perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem %}
        {{ make_tab('list', 'fa-list', url('problem_list'), _('List')) }}
    {% endif %}
    
{% endblock %}
